/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: 'Muli', sans-serif;/* Declare the base font-family - from google font api or other */
  
}

header, nav, main, footer { 

}

header {
  max-width: 75%;
  padding: .5em;
  overflow: auto;
}
header.main-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

header h1 {
	font-family: 'Bitter', serif;
	
}	

header img {
  height: 10em;
  float: left;
  padding-right: .5em;
		
}

header .subheading {

}

nav {
	/*padding-bottom: 2em;
	margin-bottom: 2em;*/
	background-color: #2c478c;
}
nav button {
  	display: flex;
  	justify-content: center;
  	background-color: transparent;
  	border: none;
  	font-size: 1.6rem;
  	color: white;
  	text-align: center;
  
 }
nav ul {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #2c478c;
}
nav ul li {
	
	padding: .6em 1em;
	text-align: left;
}

nav ul li a {	
	text-decoration: none;
	color: white;
	padding: .6em 1em;
}
nav ul li.active a {
	padding: .5em .9em;
	background-color: rgba(0,0,0,0.5);
}
nav ul li a:hover {
	background-color:#89C8CB;
	padding: .5em .9em;
}

nav ul.hide{
  display: none;

}

main {  
}

main h2 {}

main article{
  overflow: auto;
  padding-bottom: 1em;
}

main figure {
  
}


main figure img { 
  float:left;
  width: 100px; 
  float: left;
  padding-right: 1em;

}



article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: ???; /* fill the page in the small/phone view */
  
}

  section.forecast {
    display:none;
  
  }

  #weather_summary{
    display:flex;
    padding: 2em;
    justify-content: space-around;
  }

 .grid{
  display: block;

 }

 .grid img{
  max-width: 100%;
 }  

.formcontainer{
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  padding: .75em;
  max-width: 60%;
  
}

 .form-group {

   padding: .75em;
   margin: 10px auto;
   background: #89C8CB;
   border: 6px solid white;
   border-radius: 0.3em;
   box-shadow: 0 1px 8px black;
  
 }

 .form-group label {
   font-size: 1em;
   padding-bottom: .5em;
   padding-right:   3em;
}

  .form-group .input-control {
   margin-bottom: 10px;
   justify-content: space-between;  
   border-radius:  0.3em;
   width: 100%;
 }

.form-group #submit{
     color: white;
     background: #2c478c;
     width: 5em;
     height: 3em;
    border: 1px solid;
    border-radius:  0.3em;
    margin: 0;
    padding: 0;
    text-align:   center;
}

.thanks {
	display: flex;
	width: 45%;
	background:#89C8CB;
	color: white;
	padding: .5em;
	margin: 1.5em;
	  box-shadow: 0 1px 8px black;
  }

#statcontainer{
    display: none;  

}

.weatherstat{

    border: 1px solid;
    flex: 1 0 auto;
    margin:.5em;
    box-shadow: 0 1px 8px black;
    padding: 1em;
    text-align: center;

  
}


footer {
  
}
footer aside {
  text-align: center;

}
footer>p {
  text-align: center;
  } /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */