@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
  nav{

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c478c+0,2989d8+81,4b91ed+100 */

  }

    nav button { 
    display:none; 

  }  /* hamburger button does not need to be shown */

  
  nav ul.hide{
    display: flex;
  }

nav ul li {
  text-align: center;
  flex:1 0 auto;
}

nav ul li.active a {
  padding: .5em .9em;
  background-color: rgba(0,0,0,0.5);
}
nav ul li a:hover {
  background-color:#89C8CB;
  padding: .5em .9em;
}




 

/*table{
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: space-between;

}
td {
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2c478c;
    color: white;
}*/



/*section.forecast { 
  display: flex;
  flex-direction: column; 
} */

section.forecast{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  
}
section>H3 {
  color:black;
}

table #forecast-data {
  display: flex;
  font-size: .8rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 0 auto;
  
}

.forecast-day {
  flex: 1 0 auto;
  font-weight: 700;
  color: white;
  background-color: #2c478c;
  padding: 0.5em;
  
}

tr {
  display: flex;
  border-bottom: 1px solid #d0d0d0;

}

.temperature {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 0 auto;
  padding: 0.5em;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
}

  .grid{
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: space-between;
  }

  .grid div {
      flex: 1 0 30%;
      margin: 5px;
  }

  .cell img {
      height: 100%;
      width: 100%;
    }

  .cell img:hover{
    box-shadow: 0 1px 8px black;
  }

  #statcontainer{
    display: flex;
    align-content: center;
       

}

.weatherstat{

    border: 1px solid;
    flex: 1 0 auto;
    margin:.5em;
    box-shadow: 0 1px 8px black;
    padding: 1em;
    text-align: center;
}
/*.forecast-grid{
  /*display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  justify-content: space-between;
 
}

.forecast-day{
  font-weight: bold;
  background-color:#2c478c;
  color: white;
  padding: .5em .5em;
}*/
article p.town-article img { width: 62.666%; float:left; }  /* responsive images */

footer>p {
  background: #2c478c; /* Old browsers */
  background: -moz-linear-gradient(left, #2c478c 0%, #2989d8 81%, #4b91ed 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2c478c 0%,#2989d8 81%,#4b91ed 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2c478c 0%,#2989d8 81%,#4b91ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c478c', endColorstr='#4b91ed',GradientType=1 ); /* IE6-9 */
  color: white;



}