@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
 /* article p.town-article img { width: 29.333%; }*/
  
}

.main_img{ 
	max-width: 25%;
	height: auto;
}

nav ul li a {
	text-decoration: none;
	color: white;
	padding: .6em 1em;
	font-size: 1.5em;
	
}