@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
 .aligncenter {
        
     max-width: 90%;
 }


nav {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
	
} 

nav button { 
  	display:none; 

  }  /* hamburger button does not need to be shown */

nav ul.hide {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}
nav ul li {
	flex: 1 1 auto;
    text-align: center;
}

nav ul li a {
	text-decoration: none;
	color: white;
	padding: .6em 1em;
	font-size: 1em;
	
}

.art_img{ 
	max-width: 45%;
	padding-left: 2em;
	float:right;
}

.main_img{ 
	max-width: 45%;
	height: auto;
	align-content: flex-end;

}

#summary{
	display: flex;
	flex-direction: column;
	padding-left: 10em;
	

	
}
 section.forecast {
 	box-shadow: 5px 40px 40px 5px #b6b6b6;
 	padding: 1em;
 }
  article p.town-article img {  }  /* responsive images */

}

.weatherstat{

    border: 1px solid;
    flex: 1 0 auto;
    margin:.5em;
    box-shadow: 0 1px 8px black;
    padding: 1em;
    text-align: center;

  
}

.grid{
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: space-between;
  }

  .grid div {
      flex: 1 0 30%;
      margin: 5px;
  }

  .cell img {
      height: 100%;
      width: 100%;
    }

  .cell img:hover{
    box-shadow: 0 1px 8px black;
  }
  