

body{
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}



.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header img {
  max-width: 100%;
  height: auto;
}

#exampleSlider {
 
  overflow: hidden; 
  list-style: none; 
  padding: 0; 
  margin: 0;
}



.mainquote {
  display:none;
}

.news {
  display: none;
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1em;
}
 


/**.header{
   grid-area: header;
   background-color: #ee6c4d;
 }
 */

 .header{
 	
 }

.header img {
  max-width: 100%;
  height: auto;
}

#exampleSlider {
 
  overflow: hidden; 
  list-style: none; 
  padding: 0; 
  margin: 0;
}

.navmenu{
  
  background-color: #ee6c4d;

}

.navmenu ul.hide{
   display: none;
}

.navmenu {
  
  border-radius: 5px;
  background-color: #ee6c4d
  box-shadow: 5px 55px 50px -20px #b6b6b6;
} 
    
/* NAV IMPORT*/

.navmenu button {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 1em;
    color: white;
    text-align: center;
}
.navmenu ul {
  display: block;
  list-style-type: none;
  padding: .5em;  
  background-color: #ee6c4d

  }

.navmenu ul li {
  
  color: white;
  padding-bottom: 1em;
  padding-top: 1em;
}

.navmenu ul li a {
  padding: 1em 2.5em;
  text-decoration: none;
  color: white;
  
  font-size: 1 em;  
}

.navmenu ul li a.active {
  background: #3d5a80;
  color: #e0fbfc;
}

.navmenu ul li a:hover {
  background: #3d5a80;
}




.maincontent{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 1280px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 1em;
}


.maincontent2{
  flex-direction: row;
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.maindesc{
  flex: 0 1 60%;
  padding-right: 1.75em;
  

}

.maindesc p{
  font-size: 1em;
 
}

.coupon {
    max-width:400px;
    border: 2px dashed #3d5a80; 
    border-radius: 15px; 
    
    
}

.coupon h3{
  text-align: center;
}

.couponmain p{
  font-size: 1em;
}
.couponfooter{
  background-color: #e0fbfc;
  padding: 3px;
}

.couponmain img{
  max-width:100%;
}

.couponfooter p{
  font-size: 1em;
}

.couponcode {
  font-weight: bold;
  color: #ee6c4d;
}

.expires{
  color: #ee6c4d;
  font-style: italic;
}


.quote{
  font-size: 30px;
  margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

.quote:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}

.quote::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
}

.quoteref{
  margin:0;
  text-align: right;
  font-size: 1.5em;
  font-style: italic;
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ee6c4d;
  max-height: 95px;
  max-width: 100%;
}
footer aside{
color: #3d5a80;
  text-align: center;
  padding-top: 1.5em;
  font-size: 1rem;
}

h1{
  text-align: center;
}


.tourcontent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1280px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 1em;

}
.tour{
  flex: 0 1 40%;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 1em;
  padding-left: 5px;
  box-shadow:5px 40px 40px 5px #3d5a80;

}

.tour h3, h2, .subtitle{
  text-align: center;
  margin: 0;
}

.subtitle{
  font-style: italic;
}

.tour img{
  max-width:95%;
  padding: 5px;
  margin: 0 auto;
}

.tourprice{
  font-size: 1.75em;
  color: #e0fbfc;
  text-align: center;
}

.tourpricebkgr{
  background-color: #3d5a80;
  padding:15px;
}

.available{
  text-align: center;
  font-style: italic;
}

main .column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1280px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 1em;

}

.greatdivide{
  border: 1px solid;
  border-radius: .5em;
  background-color: #e0fbfc;
  text-align: center
}

.greatdivide img{
  display:block;
  border-radius: 1em;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
.cost {
  font-size: 1.5em;
  font-weight:bold;
}
.registration{
  margin-top: 50px;
  border: 1px solid;
  border-radius: .5em;
  background-color: #e0fbfc;
  text-align: center
}
.formcontainer{
  display:flex;
  flex-direction: column;
  padding: .75em;
  max-width: 60%;
  margin: 0 auto;

  
}

 .form-group {

   padding: .75em;
   margin: 10px auto;
   background: #3d5a80;
   border: 6px solid white;
   border-radius: 0.3em;
   box-shadow: 0 1px 8px black;
  
 }

 .form-group label {
   font-size: 1em;
   padding-bottom: .5em;
   padding-right:   3em;
   color: #e0fbfc;
}

  .form-group .input-control {
   margin-bottom: 10px;
   justify-content: space-between;  
   border-radius:  0.3em;
   width: 100%;
 }

.form-group #submit{
     color: white;
     background: #ee6c4d;
     width: 5em;
     height: 3em;
    border: 1px solid;
    border-radius:  0.3em;
    margin: 0;
    padding: 0;
    text-align:   center;
}

.maincontact{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
}

.maincontact div{
  flex: 0 1 50%;
  text-align: center;
}

.maincontact img{
  display:block;
  border-radius: 1em;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 20em;
}



/*SERVICE PRICING*/ 
    
    
  

.pricingdiv{
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  font-size: 16px;
  justify-content: center;
  padding: 1.5em;
}

.pricingdiv ul.theplan{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: black;
  width: 260px; /* width of each table */
  margin-right: 20px; /* spacing between tables */
  margin-bottom: 1em;
  border: 1px solid gray;
  transition: all .5s;
  box-shadow: 0 0 10px gray;
}

.pricingdiv ul.theplan .center{
  margin: 0 auto;
  text-align: center;
}

.pricingdiv ul.theplan img{
  max-width: 80%;
  height: auto;
}

.pricingdiv ul.theplan li{
  padding: 10px 10px;
  position: relative;
  border-bottom: 1px solid #eee;
}

.pricingdiv ul.theplan li.title{
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 30px 10px;
  background: #7fe0de;
  color: white;
  box-shadow: 0 -10px 5px rgba(0,0,0,.1) inset;
  text-transform: uppercase;
}

.pricingdiv ul.theplan:nth-of-type(2) li.title{
  background: #7fe0de);
  color: white;
}
    
.pricingdiv ul.theplan:nth-of-type(3) li.title{
  background: #7fe0de;
  color: white;
}

.pricingdiv ul.theplan:last-of-type{ /* remove right margin in very last table */
  margin-right: 0;
}

/*very last LI within each pricing UL */
.pricingdiv ul.theplan li:last-of-type{
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}  

.pricingdiv a.pricebutton{
  background: #3d5a80 ;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
}

.pricingdiv a.pricebutton:hover{
  transform: scale(1.25);
  }

@media only screen and (max-width: 600px) {
  .pricingdiv ul.theplan{
    border-radius: 0;
    width: 100%;
    margin-right: 0;
  }
  
 .pricingdiv a.pricebutton{
    display: block;
  }
}

#servicefooter{
  text-align: center;
}

.flip{
  margin-top: 10px;
  background-color: #e0fbfc;
}
.panel, .flip {
    padding: 5px;
    text-align: center;
    border: solid 1px #3d5a80;
    max-width: 100%;
    border-radius: .75em;
}

.panel{
  background-color: white;
}

.panel ul{
  text-align: left;
}

.prodesc{
  text-align: justify;
}
.price {
  font-weight: bold;
  font-size: 1.2em;
}

#panel {
    padding: 50px;
    display: none;
}

#panel2 {
    padding: 50px;
    display: none;
}

#panel3 {
    padding: 50px;
    display: none;
}


